.site-header-wrapper,
.site-footer-wrapper {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.site-header-wrapper {
  top: 0;
  height: $header-height;
}

.site-footer-wrapper {
  bottom: 0;
  height: $footer-height;
}

.site-header,
.site-footer {
  display: block;
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.site-header {
  border-bottom: 1px solid #eee;
}

.site-footer {
  border-top: 1px solid #eee;
}

.header-content,
.footer-content {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  
  & > *:first-child {
    margin-top: 15px;
  }
  
  & > *:last-child {
    margin-bottom: 15px;
  }
}

.header-content {
  bottom: 0;
  
  ul {
    display: inline-block;
    
    li {
      display: block;
      padding: 7px 10px;
      margin: 0;
      float: left;
      border: 1px solid #ccc;
      border-right: none;
      
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid #ccc;
      }
      
      &.active {
        background-color: #ddd;
      }
    }
  }
}

.footer-content {
  top: 0;
  font-size: 0.8em;
  
  ul {
    list-style: none;
  }
}



ul.social {
  list-style: none;
  display: inline-block;
  
  li {
    display: block;
    float: left;
    
    & > * {
      padding: 5px;
      vertical-align: middle;
    }
  }
  
  li {
    border-left: 1px solid #999;
  }
  
  li:first-child {
    border-left: none;
  }
}

@media screen and (min-width: 1100px) {
  .site-header-wrapper,
  .site-footer-wrapper {
    position: fixed;
    width: 30%;
    height: auto;
  }
  
  .site-header,
  .site-footer {
    border: none;
  }
  
  .header-content,
  .footer-content {
    position: relative;
    padding: 20px;
  }
}
