body {
  font-family: 'sansserifflfmedium', sans-serif;
  font-size: 0.8em;
}

div {
  box-sizing: border-box;
}

a {
  font-family: 'sansserifbookflfmedium', sans-serif;
  text-decoration: none;
  color: #666;
  
  &:hover {
    color: darken(#666, 60%);
  }
}

ul {
  padding-left: 20px;
  margin: 0;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.center-text {
  text-align: center;
}

ul {
  &.no-bullets {
    list-style: none;
  }
  
  &.list-inline {
    li {
      display: inline-block;
    }
  }
}

p {
  display: inline-block;
}