body {
  font-family: 'opensans', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  color: $text-color;
}

strong {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

div {
  box-sizing: border-box;
}

ul {
  padding-left: 20px;
  margin: 0;
}

p {
  display: block;
}

ul {
  &.no-bullets {
    list-style: none;
  }

  &.list-inline {
    li {
      display: inline-block;
    }
  }
}

.center-text {
  text-align: center;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  line-height: 1.7em;
}

.hidden {
  display: none !important;
}
