$assets-path: '/assets/';
  
$header-height: 125px;
$footer-height: 125px;

$page-title-color: #3b5998;

$link-color: #337ab7;
$link-hover-color: #3b5998;

$loader-bubble-width: 3px;
$loader-bubble-color: #000;