$assets-path: '/assets/';


// Links
$link-color: #337ab7;
$link-hover-color: #3b5998;
$text-color: #333;


// Header/Footer
$header-height: 125px;
$footer-height: 125px;

$mobile-header-height: 90px;
$mobile-footer-height: 90px;


// Loader
$loader-bubble-width: 3px;
$loader-bubble-color: #222;


// Page
$page-title-color: #3b5998;
