---
layout: page
title: Contact Me
permalink: /contact-me/
nav_order: 3
nav_title: Contact
---

<p>You can reach me using the links below:</p>
<ul>
  {% if site.email %}<li><a href="{{ site.social.github }}">email</a></li>{% endif %}
  {% if site.social.github %}<li><a href="{{ site.social.github }}">github</a></li>{% endif %}
  {% if site.social.facebook %}<li><a href="{{ site.social.facebook }}">facebook</a></li>{% endif %}
  {% if site.social.twitter %}<li><a href="{{ site.social.twitter }}">twitter</a></li>{% endif %}
  {% if site.social.pinterest %}<li><a href="{{ site.social.pinterest }}">pinterest</a></li>{% endif %}
  {% if site.social.linkedin %}<li><a href="{{ site.social.linkedin }}">linkedin</a></li>{% endif %}
</ul>
