<header class="site-header-wrapper">
  <div class="site-header">
    <div class="header-content center-text">
      <div class="header-brand">
        <h2>{{ site.title }}</h2>
      </div>
      <ul class="header-links">
        {% assign pages = (site.pages | sort:"nav_order") %}
        {% for p in pages %}
          {% if p.nav_order %}
            <li {% if page.url == p.permalink %}class="active"{% endif %}><a href="{{ p.permalink }}">{{ p.nav_title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
