.site-footer {
  display: block;
  position: relative;
  text-align: center;
  padding: 50px;
  color: $brand-color;
  background-color: $header-background-color;

  @media(min-width: 1100px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
  }
}
