.site-header {
  display: block;
  background-color: #333;
  width: 100%;
  text-align: center;
  padding: 100px 10px;


  @media(min-width: 1100px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
}
