.section {
  @extend %clearfix;
  margin-top: 30px;
}

.section-heading,
.section-content {
  display: block;

  @media(min-width: 768px) {
    display: inline-block;
    float: left;
  }
}

.section-heading {
  @media(min-width: 768px) {
    width: 25%;
  }
}

.section-title {
  font-weight: 500;
  color: $title-color;
}

.section-content {
  @media(min-width: 768px) {
    width: 75%;
  }

  .item + .item {
    margin-top: 20px;
  }
}
