.section {
  @extend %clearfix;
  display: block;
  margin-top: 30px;
  opacity: 0;
  animation: sectionFadeUp ease-in-out 0.5s 1;
  animation-fill-mode: forwards;
}

.section-heading,
.section-content {
  display: block;

  @media(min-width: 768px) {
    display: inline-block;
    float: left;
  }
}

.section-heading {
  @media(min-width: 768px) {
    width: 25%;
  }
}

.section-title {
  font-weight: 500;
  color: $title-color;
}

.section-content {
  @media(min-width: 768px) {
    width: 75%;
  }

  .item + .item {
    margin-top: 20px;
  }
}

#about-me-section {
  animation-delay: 0.6s;
}

#skills-section {
  animation-delay: 0.8s;

  ul {
    margin-left: 15px;
    margin-bottom: 0;
  }
}

#projects-section {
  animation-delay: 1.0s;
}

#experiences-section {
  animation-delay: 1.2s;
}

@-webkit-keyframes sectionFadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes sectionFadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
