---
---
// Functions/Variables
@import '_main/variables';
@import '_main/functions';
@import '_main/mixins';


.resume-section {
  margin-top: 20px;
}

.resume-section-header,
.resume-section-content {
  padding: 5px;
}

.resume-section-header {
  font-size: 1.1em;
  border-bottom: 1px solid #eee;
  cursor: pointer;

  &:hover {
    color: $text-hover-color;
  }
}

.resume-section-content {
  .item {
    margin-top: 10px;

    &:first-child {
      margin-top: initial;
    }

    .item-header,
    .item-sub-header,
    .item-content {
      display: block;
    }

    .item-sub-header {
      text-decoration: underline;
    }
  }
}
